.divButton{
    width: 50%;
    float: left;
    justify-content: center;
    text-align: center;
}

.divButtonSmall{
    width: 100%;
    float: left;
    text-align: center;
}

.etiqueta2 {
    padding-block-end: 25%;
}