
ion-card{
    --background: #39ebaf;
    --color: #fff;
    --border-color: white;
}

ion-button{
    --background: white;
    --opacity: 100;	
    font-family: 'Nunito';
    font-weight: 900;
    color: #39ebaf;
}

h3{
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
}
  
