<ion-header >
  <ion-toolbar  color="primary">
    <ion-title>Movimientos
      <ion-icon name="md-folder-open"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <ion-card>
        <ion-card-content>
            <h1 style = "font-size: 25px;">7-eleven Papitas</h1>
        </ion-card-content>
        <ion-card-content>
            <h1 style = "font-size: 20px;">Comida</h1>
            <h1 style= "text-align: right; font-size: 20px;">-$18.00</h1>
           </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
              <h1 style = "font-size: 25px;">Pago Agua</h1>
          </ion-card-content>
          <ion-card-content>
              <h1 style = "font-size: 20px;">Hogar</h1>
              <h1 style= "text-align: right; font-size: 20px;">-$500.00</h1>
             </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h1 style = "font-size: 25px;">Quincena</h1>
            </ion-card-content>
            <ion-card-content>
                <h1 style = "font-size: 20px;">Sueldo</h1>
                <h1 style= "text-align: right; font-size: 20px;">+$7,300.00</h1>
               </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-content>
                  <h1 style = "font-size: 25px;">Colegiatura</h1>
              </ion-card-content>
              <ion-card-content>
                  <h1 style = "font-size: 20px;">Educacion</h1>
                  <h1 style= "text-align: right; font-size: 20px;">-$2,500.00</h1>
                 </ion-card-content>
            </ion-card>
  </ion-content>


<ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

