ion-item{
    --background: #39ebaf;
    --color: #fff;
    --border-color: white;
}

ion-input{
    font-family: 'Nunito';
    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

ion-button{
    --background: white;
    --opacity: 100;	
    font-family: 'Nunito';
    font-weight: 900;
    color: #39ebaf;
}

h3{
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
}

div {
    background-color: inherit;
    border: 0px;
  }
  
.icon-bigger {
    font-size: 100px; //Preferred size here
}

.editButton {
    padding-top: 40px;
    text-align: center;
}


ion-card{
    width: 100% !important;
  }

.cardItems{
    color: #fff;
    --background:  #fff;
}